{% extends "template.html" %}
{% block conteudo %}
<h2>Nova Turma</h2>
<form action="{{ url_for('class.new_class') }}" method="POST">
  <div class="form-group">
    <label for="description">Descrição:</label>
    <input type="text" id="description" name="description" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="teacher_id">ID do Professor:</label>
    <input type="number" id="teacher_id" name="teacher_id" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="active">Ativo:</label>
    <input type="checkbox" id="active" name="active">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar Turma</button>
</form>
{% endblock %}